*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: linear-gradient(to bottom, #b6c0da, #14104d);
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

header#header_adm{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
  background-color: #5a5151;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

header a {
  padding-top: 15px;
  opacity: 0.3;
}

header a:hover{
  opacity: 1;
}

div#app_adm{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 275px;
}

img{
  padding-bottom: 15px;
}

.input_adm{
  margin: 5px 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px 3px;
  width: 200px;
}

.buttom_adm{
  margin: 5px 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  padding: 5px 3px;
  width: 130px;
}

footer#footer_adm{
position: absolute;
bottom: 0;
width: 100%;
text-align: center;
padding-bottom: 10px;
}

#nav_footer{
  display: flex;
  align-items: center;
  justify-content: center;
}