*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

#header{
  background-color:  #ffffff;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adm_icon{
  height: 40px;
  margin-top: 85px;
  margin-right: 5px;
  opacity: 0.3;
}

.adm_icon:hover{
  opacity: 1;
}

img{
  margin-bottom: 5em;
}

p{
  color: #2e2c2c;
}
.user{
  margin-right: 290px;
}

.password{
  margin-right: 255px;
}

.input{
  margin: 5px 0;
  padding: 5px 3px;
  width: 250px;
  border: 1px solid;
  border-color: #000000;
  border-radius: 5px;
}
.button{
  margin: 5px 0;
  border: 1px solid;
  border-radius: 12px;
  padding: 5px 3px;
  width: 130px;
}

#footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}